---
import Layout from "../layouts/Layout.astro";
import Navbar from "$lib/components/Navbar.svelte";
import HeroSection from "$lib/components/HeroSection.astro";
import MarqueeTicker from "$lib/components/MarqueeTicker.astro";
import AdvantagesSection from "$lib/components/AdvantagesSection.astro";
import ProgramSection from "$lib/components/ProgramSection.astro";
import TestimonialsSection from "$lib/components/TestimonialsSection.astro";
import ChallengeSection from "$lib/components/ChallengeSection.astro";
import AccessStepsSection from "$lib/components/AccessStepsSection.astro";
import CatalogSection from "$lib/components/CatalogSection.astro";
import FaqSection from "$lib/components/FaqSection.svelte";
import LeadFormSection from "$lib/components/LeadFormSection.svelte";
import FooterSection from "$lib/components/FooterSection.astro";
---

<Layout>
	<Navbar client:load />
	<main>
		<HeroSection />
		<MarqueeTicker />
		<AdvantagesSection />
		<ProgramSection />
		<TestimonialsSection />
		<ChallengeSection />
		<AccessStepsSection />
		<CatalogSection />
		<FaqSection client:visible />
		<LeadFormSection client:visible />
	</main>
	<FooterSection />
</Layout>
